.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /*i want to make the box of the project to be */
    transition: all 0.3s ease-in-out;
}

.modal-content {
    background-color: #61677A;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;   
}

.singleproject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #272829;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 #000;
    transition: all 0.3s ease-in-out;
}

.singleproject:hover {
    transform: translate3d(0, -10px, 0);
    box-shadow: 0 0 20px 0 #000;
}

.singleproject h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
    font-size: 1.3em;
}

.singleproject h2:hover {
    cursor: pointer;
    opacity: 1;
}

.singleproject p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    cursor: default;
    font-size: 0.9em;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}
